In [32]:
import pandas as pd
d=pd.read_csv("/content/Salary_Data_799021028.csv")
print(d)

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [33]:
x=d['YearsExperience']
y=d['Salary']

In [34]:
from sklearn.metrics import mean_squared_error,mean_absolute_error
#print(mean_squared_error(9,8))
import numpy as np
y_true=y
y_pred=[]
#y1=300+350*x
def mse(b0,b1):
  y_pred=[]
  for i in range(0,len(x)):
    y_pred.append(b0+b1*x[i])
  a=np.array(y_true)
  b=np.array(y_pred)
  #print(a,b)
  return mean_absolute_error(a,b)

In [ ]:
er=[]
for i in range(100,51000):
  er.append(mse(i+13000,i+15000))

In [ ]:
g=np.arange(0,50900)
er=np.array(er)
#print(er)

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(x,y)
plt.plot(g,er)